body {
    background: @primary;
   
 .flex-container1 {
   .custom-layout(space-evenly, center);
     flex-direction: row;
    
     height: 25%;

    
     .flex-item1 {
      .size(20%,20%);
      padding-top: 2%;
      @media @mobile{
         .size(80%,80%);
        };
     }
    
  

   
     
   }
}
     .middle{
        display: flex;
        text-align: center;
        width: 50%;
        color: @smoke;
        margin-left: 25%;
        font-size: 1.8rem;
        font-family: 'Poppins', sans-serif;
        padding-top: 3%;
        @media @tablet {
        font-size: 1.6rem;
        margin-right: 50%;
        width: 50%;
        

        }
      
     }
 
 .flex-container2 {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     border: 1px solid orange;
     flex-direction: column;
     flex-wrap: wrap;
   // display: grid;
   // grid-template-rows: 1fr;
   // grid-template-columns: 1fr;
   //   height: 80%;
     @media @mobile {
        .size(100%, 100vw);
        padding: 0;
     }
     
     div{
        display:flex;
        justify-content: center;
        align-items: center;
        @media @mobile {
         //   height: 100vh;
           text-align: center;
           align-items: center;
           justify-content: apace-around;
           flex-direction: column;
           
        }
        
     }

     .flex2-item1{
      .size(50%,50%);
        margin-top: 4%;
       padding: 1%;
        @media @mobile{
         .size(100%,100%);
        };

     }
     p {
      font-size: 1.8rem;
       color: @smoke;
       .size(45%,20%);
    //   line-height: 100%;
      padding: 6%;
      font-family: 'Poppins', sans-serif;
      
      @media @tablet {
         font-size: 1.6rem;
         width:70%;
      }
     }
   .mood{
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid @smoke;
      width: 80%;
      margin-top: 1%;
     .flex2-item2 {
        .size(30%, 35%);
        padding-top: 4%;
        line-height: 10%;
        padding-bottom: 2%;
        @media @mobile{
         .size(100%,100%);
         padding-right:2%;
        };
        
      }   

     }
     .final {
      font-size: 3rem  !important;
      width: 80% !important;
      text-align: center;
       color: @smoke;
      line-height: 80% ;
      // margin-right: 30%;
      // padding: 6%;
      font-family: 'Poppins', sans-serif;
      // border: 1px solid red;
      @media @tablet {
         font-size: 1rem;
      }
      
   }
 }
 footer {
   .size(50%,100%);
 
     margin-bottom: auto;
     background-repeat: no-repeat;
     background-size: cover;
      .custom-layout(center, center);
      flex-wrap: no-wrap;
      flex-direction: column;
     .team {
      text-decoration: none;
      font-weight: bolder;
      font-size: 1.6rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      border: 1px solid black;
      border-radius: 10%;
      background: @primary;
      color: @smoke;
      margin-top: 1%;
      padding: 1%;
     }
     p{
      width: 15%;
      text-align: center;
      font-weight: bold;
      padding: 1%;
      line-height: 3vh;
      font-weight: bolder;
      font-size: 1.2rem;
     
      @media @tablet {
         .size(7%,40%);
         // box-shadow: 2px 2px 2px 2px rgba(22,18,24);
         background-color: darken(white, 25%);
         font-size: 1rem;
      }
      @media(max-width: 1000px){
         background-color: darken(white,25%);
         border-radius: 10%;
         height: 40%;
         width: 50%;
         margin: 2%;
   }
     }
    section{
      .custom-layout(center, flex-end);
      width: 100%;
      .git {
         
         width: 5vw;
      }
      @media(max-width: 1000px){
       background-color: darken(white,25%);
 }
     }  
     .facebook{
      
      width: 5vw;
   }
   @media(max-width: 1000px){
    background-color: darken(white,25%);
}
 }
    

 

 
