header { 
    border: 1px solid blue;
    width: 100%;
    height: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    
        h1 {
        color: white;
        font-size: 2rem;
        width: 20%;
        text-align: top-right;
    }

        nav {
            font-size: 1.3rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            text-align: center;
            
           
        
            a {
                color: navy;
                text-decoration: none;
                border: 1px solid white;
                background: #f77f00;
                border-radius: 20%;
                box-sizing: border-box;
                padding: 1.5%;
                
            }
        }     
       h2 {
                color: yellow;
                text-align: center;
                font-size: 1.8rem;
            }
}