* { font-size: 62.5%;}
body{
    background: @primary;
}
h2 {
    font-size: 1.2rem;
    color: @smoke;
    padding: 2%;
}
p {
    width: 20%;
    font-size: 1rem;
    color: @smoke;
    
    @media @tablet {
        width: 40%;
    }
}
    
    img{
        width: 20%;
        height: 10%;
        
    }
span {
    font-size: 1.3rem;
    text-decoration: underline;

}