// .main{
//     display:flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     border: 3px solid orange;





    .Tim{
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .Jeff{
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .Trevor{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
// }

footer {
    .size(50%,100%);
      margin-bottom: auto;
      background-repeat: no-repeat;
      background-size: cover;
       .flex(center, center);
       flex-wrap: no-wrap;
       flex-direction: column;
      
      section{
        .flex(center, flex-end);
        width: 100%;
        .git {
           
           width: 5vw;
           @media @mobile{
              background-color: darken(white,25%);
           }
       }  
       .facebook{
        
        width: 5vw;
        @media @tablet{
           background-color: darken(white,25%);
        }
       }
       
  }
   }